.post-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    line-height: 1.8;
}

.post-wrapper h1, h2 {
    margin-bottom: 40px;
}
