.post-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    line-height: 1.8;
}

.post-wrapper h1, h2 {
    margin-bottom: 40px;
}

.post-wrapper blockquote {
    border-left: 3px solid black;
    padding-left: 20px;
    font-weight: bold;
    background-color: rgb(236, 236, 236);
}

.post-wrapper img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.5);
    margin: 40px auto;
}

footer {
    border-top: 2px solid black;
    margin-top: 30px;
    padding-top: 20px;
    background-color: rgb(243, 252, 241);
}